.about-team
    img.main-block__icon-waves(alt="wave" src="../images/waves.png")
    .about-team__header our team
    .about-team__container
        .about-team__gallery
            img.about-team__photo(alt="i" src="../images/Layer_12.jpg")
            .about-team__name Adam Smith
            .about-team__position CEO, Brand director
            .about-team__line
            .about-team__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. 
            .about-team__icons
                img.about-team__icon-twitter(alt="i" src="../images/twitter.svg")
                img.about-team__icon-face(alt="i" src="../images/facebook.svg")
    
        .about-team__gallery
            img.about-team__photo(alt="i" src="../images/Layer_13.jpg")
            .about-team__name Eric Johnson
            .about-team__position CEO, Operations director
            .about-team__line
            .about-team__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. 
            .about-team__icons
                img.about-team__icon-twitter(alt="i" src="../images/twitter.svg")
                img.about-team__icon-face(alt="i" src="../images/facebook.svg")

        .about-team__gallery
            img.about-team__photo(alt="i" src="../images/Layer_14.jpg")
            .about-team__name Cecelia Hines
            .about-team__position photographer
            .about-team__line
            .about-team__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. 
            .about-team__icons
                img.about-team__icon-twitter(alt="i" src="../images/twitter.svg")
                img.about-team__icon-face(alt="i" src="../images/facebook.svg")


        .about-team__gallery
            img.about-team__photo(alt="i" src="../images/Layer_15.jpg")
            .about-team__name Ben Ferguson
            .about-team__position brand, UI designer
            .about-team__line
            .about-team__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. 
            .about-team__icons
                img.about-team__icon-twitter(alt="i" src="../images/twitter.svg")
                img.about-team__icon-face(alt="i" src="../images/facebook.svg")

   
        .about-team__gallery
            img.about-team__photo(alt="i" src="../images/Layer_16.jpg")
            .about-team__name Judy Davis
            .about-team__position ux / ui designer
            .about-team__line
            .about-team__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. 
            .about-team__icons
                img.about-team__icon-twitter(alt="i" src="../images/twitter.svg")
                img.about-team__icon-face(alt="i" src="../images/facebook.svg")


        .about-team__gallery
            img.about-team__photo(alt="i" src="../images/Layer_17.jpg")
            .about-team__name Thomas Peterson
            .about-team__position project manager
            .about-team__line
            .about-team__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. 
            .about-team__icons
                img.about-team__icon-twitter(alt="i" src="../images/twitter.svg")
                img.about-team__icon-face(alt="i" src="../images/facebook.svg")

    .about-team__social-icon
        a(href="")
            img.about-team__logos(alt="" src="../../images/logos.png")
        