.wrapp-info-container
    .info-container  
        .info-container-item   
            img.info-container__img1(alt="icon" src="images/Layer_9.jpg")     
            img.info-container__img2(alt="icon" src="images/Layer_8.jpg")
        .info-container-item1 
            .info-container__text
                .info-container__header case studies 
                .info-container__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum. 
                .info-container-item2
                    img.info-container__icon(alt="icon" src="images/clock.png")    
                    .info-container__text 4 hours ago - by Andrew B.
            .info-container__line-num
                img.info-container__line(alt="icon" src="images/lines.png")    
                .info-container__number 01
                .info-container__bold 02
                .info-container__number 03

        



            