
.header-wrapp
    .header
        .header__nav 
            a(href="")
                img.header__icon(alt="icon" src="images/logo.png")
            .header__icons
                a(href="")
                    img.header__icon-search(alt="icon" src="images/search.png")
                a(href="")
                    img.header__icon-humberger(alt="icon" src="images/menu.png")
        button.header__button inside our studio
        .header__logo FROSTBITE