.wrapp-info-section
    .info-section
        .info-section__header latest projects
        .info-section__description Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
        .info-section-item
            button.info-section__button-active view projects
            button.info-section__button-disactive contact