.wrapp-main-block
    .main-block
        img.main-block__icon-waves(alt="wave" src="../images/waves.png")
        .main-block__header a team of creatives based out of california
        .main-block-item
            .main-block-text
                .main-block-text__header who we are
                .main-block-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. Maecenas placerat vestibulum neque et venenatis. Donec condimentum metus in tempor luctus. 
            img.main-block__photo.main-block__photo_dist(alt="img" src="../images/Layer_6.jpg")
            
        .main-block-item1
            img.main-block__photo(alt="img" src="../images/Layer_7.jpg")
            .main-block-text
                .main-block-text__header what we do
                .main-block-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. Maecenas placerat vestibulum neque et venenatis. Donec condimentum metus in tempor luctus. 
        
        .main-block-item-1
            .main-block__line
            .main-block-text__description.main-block-text__description_margin Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget commodo risus. Nulla placerat nunc nulla, id porta sapien varius sed. In vel est a dui sodales varius. In facilisis, risus non maximus scelerisque, mauris massa vehicula tortor, nec vestibulum ipsum sem et magna. Maecenas in purus ut arcu pellentesque tempus. Curabitur viverra quis ipsum vitae hendrerit. Aenean nec consequat neque, non euismod sapien. Nullam fringilla justo sed consequat pellentesque. Praesent egestas porta vestibulum. 
            .main-block-text__description.main-block-text__description_marg-righ Nullam gravida odio quis ligula hendrerit, a consectetur nulla tincidunt. Ut finibus, quam id sodales tempus, neque diam fringilla lectus, vel ultricies est neque eget metus. Duis id efficitur libero. Etiam facilisis, ipsum volutpat ultrices finibus, orci sem consectetur leo, in blandit ipsum ex vitae lorem. Praesent placerat odio in lectus maximus, vel vehicula nulla scelerisque. Nullam et feugiat nibh. Nullam ultrices libero nec eros commodo, a tempus metus condimentum.
        .main-block-item-2
            button.main-block__button-active journal
            button.main-block__button-disactive our story   