.wrapp-info
    .info
        img.info__icon-waves(alt="wave" src="../images/waves.png")
        .info__header our journal
        .info__description Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
        .info__text
            button.info__button-active read more
            img.info__photo-girls(alt="img" src="../images/Layer_11.png")
            img.info__photo-girl(alt="img" src="../images/Layer_10.jpg")
            
        