.wrapp-footer
    .footer
        img(class="footer__logo" alt="logo2" src="images/logo.png")
        .footer__list
            .footer__list-item Our Team 
            .footer__list-item Contact Us       
            .footer__list-item Support        
            .footer__list-item Blog  

        .footer__list
            .footer__list-item Exclusive Offers
            .footer__list-item Licencing    
            .footer__list-item Privacy Policy        
            .footer__list-item Refund Policy   

        .footer__icons
                img.footer__icon-face(alt="i" src="../images/facebook2.svg")
                img.footer__icon-twitter(alt="i" src="../images/twitter 2.svg")
                
        .footer__info
            .footer__header Join Our newsletter
            .footer__description Join up and get notified about new products, updates and special offers.
            input.footer__form(placeholder="Enter your email")
            img.footer__icon-arrow(src="images/arrow.png")



        
