doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    title 
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description" content ="")
    meta(name="keywords" content="")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700")
    link(rel='stylesheet', href='./css/all.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap" rel="stylesheet")

  body
    include componets/header/header.pug
    include componets/main-block/main-block.pug
    include componets/info-section/info-section.pug
    include componets/info-container/info-container.pug
    include componets/info/info.pug
    include componets/about-team/about-team.pug
    include componets/footer/footer.pug